<style>
  .boton-guardar {
    width: 100%;
    color: #fff;
    background: #009688;
  }
</style>
<form #parametroForm="ngForm">
  <div class="field" class="w3-container">
    <div class="w3-row">
      <div class="w3-half w3-container">
        <h1><span *ngIf="docente.id==null">Nuevo</span> Docente</h1>
        <div>
          <label>Primer Nombre</label>
          <input type="text" class="w3-input w3-border w3-round-large" id="txtNombre1" name="nombre1"
            [(ngModel)]="docente.nombre1" [ngModelOptions]="{standalone: true}" required [(ngModel)]="docente.nombre1"
            #nombre1="ngModel" minlength="3" />
          <div [hidden]="nombre1.valid || nombre1.pristine">
            <div *ngIf="nombre1.errors?.required" class="alert alert-danger">
              <h6>*Este campo es Obligatorio.</h6>
            </div>
            <div *ngIf="nombre1.errors?.minlength">
              <h6>*Por lo menos 3 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Segundo Nombre</label>
          <input type="text" class="w3-input w3-border w3-round-large" id="txtNombre2" name="nombre2"
            [(ngModel)]="docente.nombre2" [ngModelOptions]="{standalone: true}" required [(ngModel)]="docente.nombre2"
            #nombre2="ngModel" minlength="4" />
          <div [hidden]="nombre2.valid || nombre2.pristine">
            <div *ngIf="nombre2.errors?.minlength">
              <h6>*Por lo menos 4 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Primer Apellido</label>
          <input type="text" class="w3-input w3-border w3-round-large" id="txtApellido1" name="apellido1"
            [(ngModel)]="docente.apellido1" [ngModelOptions]="{standalone: true}" required
            [(ngModel)]="docente.apellido1" #apellido1="ngModel" minlength="5" />
          <div [hidden]="apellido1.valid || apellido1.pristine">
            <div *ngIf="apellido1.errors?.required" class="alert alert-danger">
              <h6>*Este campo es Obligatorio.</h6>
            </div>
            <div *ngIf="apellido1.errors?.minlength">
              <h6>*Por lo menos 5 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Segundo Apellido</label>
          <input type="text" class="w3-input w3-border w3-round-large" id="txtApellido2" name="apellido2"
            [(ngModel)]="docente.apellido2" [ngModelOptions]="{standalone: true}" required
            [(ngModel)]="docente.apellido2" #apellido2="ngModel" minlength="5" />
          <div [hidden]="apellido2.valid || apellido2.pristine">
            <div *ngIf="apellido2.errors?.minlength">
              <h6>*Por lo menos 5 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Cedula</label>
          <input type="number" class="w3-input w3-border w3-round-large" id="txtCedula" name="cedula"
            [(ngModel)]="docente.cedula" [ngModelOptions]="{standalone: true}" required [(ngModel)]="docente.cedula"
            #cedula="ngModel" minlength="10" />
          <div [hidden]="cedula.valid || cedula.pristine">
            <div *ngIf="cedula.errors?.required" class="alert alert-danger">
              <h6>*Este campo es Obligatorio.</h6>
            </div>
            <div *ngIf="cedula.errors?.minlength">
              <h6>*Por lo menos 10 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Correo</label>
          <input type="email" class="w3-input w3-border w3-round-large" id="txtCorreo" [(ngModel)]="docente.correo"
            [ngModelOptions]="{standalone: true}" required [(ngModel)]="docente.correo" #correo="ngModel"
            minlength="30" />
          <div [hidden]="correo.valid || correo.pristine">
            <div *ngIf="correo.errors?.required" class="alert alert-danger">
              <h6>*Este campo es Obligatorio.</h6>
            </div>
            <div *ngIf="correo.errors?.minlength">
              <h6>*Por lo menos 30 caracteres.</h6>
            </div>
          </div>
          <br />
          <label>Tipo de contrato</label>

          <select class="w3-select w3-border" [(ngModel)]="docente.tipo_contrato" [ngModelOptions]="{standalone: true}"
            (change)="cambiarContrato($event)">
            <option value="" disabled>- Seleccionar -</option>
            <option *ngFor="let a of tipoContratoItem" [value]="a">{{a}}</option>
          </select>
          <br />

        </div>
      </div>
      <div class="w3-half w3-container">
        <h1>Carreras del Docente</h1>

        <label>Escriba una parte del nombre de la carera que desea seleccionar:</label>

        <ng-autocomplete [data]="carreras" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" (selected)='agregarCarrera($event)'>
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nombre"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>

        <br />

        <div *ngIf="errorMessage!=''" class="w3-card w3-khaki">
          <span class="help is-error">{{ errorMessage }}</span>

        </div>
        <br />
        <div *ngIf="carrerasDocente!=null&&carrerasDocente.length!=0">
          <table class="w3-table-all w3-hoverable">
            <thead>
              <tr>
                <th class="w3-center">Nombre</th>
                <th class="w3-center">Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of carrerasDocente">
                <td class="w3-center"> {{ c.nombre }}</td>
                <td class="w3-center">
                  <button title="Quitar" class="w3-btn w3-blue" (click)="quitarCarrera(c);">
                    <i class="fa fa-minus" aria-hidden="true"> </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
    <br />
    <br />
    <button type="button" class="boton-guardar w3-btn w3-round" (click)="guardar();">Guardar</button>
  </div>
</form>